.about-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 30px 200px; */
  /* margin: 20% 0px; */
  margin: 200px 50px 50px 50px;
  border-radius: 50px;
  /* margin-bottom: 30px; */
  /* border: 1px solid rebeccapurple; */
  background-color: #c2ffd2;
  width: fit-content;
  height: 600px;
}

.about-container .info-container {
  width: 60%;
  /* border: 1px solid red; */
  margin-right: 100px;
}

.about-container .info-container h1 {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-container .info-container p {
  color: gray;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-container .info-container button {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(72, 185, 72);
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* transition: background-color 1s; */
  transition: all 1s ease-in-out;
}

.about-container .info-container button:hover {
  background-color: #3e8e41;
}

.about-container .lines-container {
  /* border: 1px solid blue; */
  /* margin-left: 50px; */
  position: relative;
  margin-top: 100px;
}

.about-container .lines-container h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
  color: forestgreen;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 2px;
}

.about-container .lines-container .line1,
.line5 {
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  background-color: white;
  /* padding: 30px; */
  border: 1px solid rgb(72, 185, 72);
  border-radius: 50%;
  /* border-radius: 50%; */
}

.about-container .lines-container .line2,
.line3,
.line4 {
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  background-color: rgb(72, 185, 72);
  border-radius: 50%;
}

.about-container .lines-container .line1,
.line2,
.line3,
.line4,
.line5 {
  position: absolute;
}

.about-container .lines-container .line1 {
  top: 50px;
}

.about-container .lines-container .line2 {
  top: 50px;
  right: 50px;
}

.about-container .lines-container .line3 {
  top: 200px;
  left: 120px;
}

.about-container .lines-container .line4 {
  top: 360px;
  left: 50px;
}

.about-container .lines-container .line5 {
  top: 360px;
  right: 20px;
}

.about-container .lines-container .line1 img,
.line2 img,
.line3 img,
.line4 img,
.line5 img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
