.image-slider-container {
  /* background-image: url(../assets/isb.png); */
  position: relative;
  width: 100vw;
  height: 85vh;
  /* border: 1px solid red;d */
}

.image-slider-container .tokari-info {
  margin-top: 250px;
  margin-left: 100px;
  width: 600px;
  /* border: 1px solid red; */
  position: absolute;
  right: 0;
}

.image-slider-container .tokari-info h1 {
  font-size: 80px;
}

.image-slider-container .tokari-info p {
  font-size: 20px;
  margin-left: 20px;
  color: gray;
  line-height: 1.4;
}

.image-slider-container .truck-img {
  background-color: aliceblue;
}
.image-slider-container .truck-img img {
  margin-top: 100px;
  width: 900px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 25px;
  z-index: 2;
  animation: 1.5s ease-in-out slideInFromLeft;
  background-color: white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
